/* Dashboard */
.top-cards {
  flex-wrap: nowrap !important;
  margin-left: -30px;
}
.logo-dark {
  width: 150px;
}

.orphanTxn input:focus {
  outline: none;
}

.orphanTxn input {
  border: 1px solid #ccc;
  /* padding: 8px;  */
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.orphanTxn button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (max-width: 1200px) {
  .nk-header-fixed + .nk-content {
    margin-top: 100px !important;
  }
  .logo-dark {
    width: 100px;
  }
  .top-cards {
    flex-wrap: wrap !important;
  }
}

.latestTrans .nk-tb-col {
  vertical-align: top !important;
}

.updated-field {
  border: 2px solid #5bc0de; /* Add your desired style for updated fields */
}
