/* Dashboard */

.is-light .nk-menu-link:hover,
.is-light .active > .nk-menu-link {
  background: #ebeef2;
}
.nk-menu-link .active {
  background: #ebeef2;
}
.top-cards {
  flex-wrap: nowrap !important;
  margin-left: -30px;
}
.logo-dark {
  width: 150px;
}

.orphanTxn input:focus {
  outline: none;
}

.orphanTxn input {
  border: 1px solid #ccc;
  /* padding: 8px;  */
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.orphanTxn button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (max-width: 1200px) {
  .nk-header-fixed + .nk-content {
    margin-top: 100px !important;
  }
  .logo-dark {
    width: 100px;
  }
  .top-cards {
    flex-wrap: wrap !important;
  }
}

.latestTrans .nk-tb-col {
  vertical-align: top !important;
}

.updated-field {
  border: 2px solid #5bc0de; /* Add your desired style for updated fields */
}

/* For Autocomplete input */
.bdsZiz .wrapper {
  position: relative !important;
}
.MuiPaper-root {
  padding: 30px 30px 0;
}
.MuiTableCell-root p {
  margin-bottom: 0 !important;
}

fieldset.MuiOutlinedInput-notchedOutline {
  text-align: left !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 8px !important;
  pointer-events: none !important;
  border-radius: inherit !important;
  border-style: none !important; /* Remove other border styles */
  border-bottom-style: solid !important; /* Set only the bottom border style */
  border-width: 0 !important; /* Remove other border widths */
  border-bottom-width: 1px !important; /* Set only the bottom border width */
  overflow: hidden !important;
  min-width: 0% !important;
  border-color: transparent !important; /* Remove other border colors */
  border-bottom-color: rgba(0, 0, 0, 0.23) !important; /* Set only the bottom border color */
}
